{erl_opts, [debug_info]}.

{deps, [{director, "18.4.29"}, {cowboy, "2.4.0"}]}.

{relx, [{release
        ,{emeter, "0.1.0"}
        ,[cowlib
         ,ranch
         ,cowboy
         ,director
         ,emeter
         ,sasl]}
       ,{include_erts, true}
       ,{include_src, false}
       ,{dev_mode, false}
       ,{generate_start_script, true}
       ,{extended_start_script, true}
       ,{sys_config, "./config/sys.config"}
       ,{vm_args, "config/vm.args"}]}.
